body{
  background-color: #F1E8E6;

}

.kutu-1{
background-color: #FFFFFF;
border-radius: 10px;
display:flex;
align-items: center;
justify-content: center;
margin:30px;
width:35%;
box-shadow: 0 10px 20px  #F1B7B7;
}

.kutu-1  div{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 0.7rem;
  font-weight: bold;

}
.icon{
  font-size:1.2rem ;
  margin-right: 10px;
}

.difficulty{
background-color: #FFFFFF;
box-shadow: 0 10px 20px  #F1B7B7;
border-radius: 20px;
width:25%;
margin:30px;
padding:40px;

}

.difficulty button{
  font-size: 0.8rem;
  margin-top: 15px;
  font-weight: 400;
}
.medium{
  background-color:#F55951;
  box-shadow: 0 10px 20px  #F1B7B7;
  color :#FFFFFF;
}

.search {
  background-color:#F55951;
  box-shadow: 0 10px 20px  #F1B7B7;
  border-radius: 20px;
  color :#FFFFFF;
  width:30%;
  margin: 30px;
  padding:30px;
}

.search form{
  margin-top: 25px;

}
.form-control {
  border-radius: 0.50rem !important;
  width:125% !important;
}

.card  {
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px  #F1B7B7;
  border-radius: 20px;
  margin:30px;

  }
.rounded-top{
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}
.card  p{
  font-size: 0.8rem;
}
.card  .btn{
  width:97% !important;
 box-shadow: 0 10px 20px  #F1B7B7;
}
.spinat{
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px  #F1B7B7;
  border-radius: 20px;
  margin:30px;
  width:45%;

}
.spinat img{
  width: 150px;
  height:200px;
  border-radius: 20px;
}

.spinat p{
  font-size: 0.8rem;
}

.begenme .star{
  color: #F55951;
}

}
.position-relative{
  left:260px;


}
.far{
  border-radius: 50%;
  border:1px solid red;
  padding:10px;


}
.container-son{
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px  #F1B7B7;
  border-radius: 20px;
  margin:30px;
  padding:10px;

}

.carousel-item img{
  /*clip-path:circle(40%);*/
  width:40%;
  height:40%;


/*object-fit: fill;*/
}
